<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
 
  <div class="container">   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" th:href="@{/}" href="#">Home 📖</a>
    </nav>
    <div th:if="${errorMessage}">
      <div class="alert alert-danger" th:text="${errorMessage}"></div>
    </div>
    <div class="card mt-3 " style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img th:src="${coverImage}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" th:text="${book.title}">Card title</h5>
              <p class="card-text" th:text="${book?.description?.value}"></p>
              <p class="card-text"><small class="text-muted" th:text="${book.subjects}"></small></p>
              <div th:unless = "${loginId}">
                <h1>Login</h1>
                <p>Login to track this book</p>
                <div>With Github: <a href="/oauth2/authorization/github">click here</a></div>
              </div>
              <form th:if="${loginId}" action="" th:attr="action=@{/addUserBook}" method="post" th:each="userBooks : ${userBooks}">
                <input type="hidden" name="bookId" th:value="${book.key}">
                <input type="hidden" name="bookName" th:value="${book.title}">
                <input type="hidden" name="coverImage" th:value="${book.coverUrl}">
                <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">
                      <div class="form-group">
                        <label for="startDate">Start Date</label> 
                        <input type="date" name = "startDate"class="form-control" th:value="${userBooks.startDate}"id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control" th:value="${userBooks.endDate}" name="endDate" placeholder="name@example.com">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Pages Read</span>
                        </div>
                        <input type="text" name="pagesRead" class="form-control">
                        <div class="input-group-append">
                          <span class="input-group-text"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="readingStatus">Reading Status</label>
                        <select class="form-control" th:field="${userBooks.readingStatus}" name="readingStatus">
                          <option selected value="3">Status</option>
                          <option value="0-reading">Currently reading</option>
                          <option value="1-finished">Finished</option>
                          <option value="2-dnf">Did not finish</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="rating">Rating</label>
                        <select  class="form-control"  th:field="${userBooks.rating}" name="rating">
                          <option selected value="0">Select Rating</option>
                          <option value="1">&#9733;</option>
                          <option value="2">&#9733;&#9733;</option>
                          <option value="3">&#9733;&#9733;&#9733;</option>
                          <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                          <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>

                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>